/*
 A propriedade flex-basis define uma largura ou uma altura incial para um elemento filho.
*/


.container {
  padding: 60px 30px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;  
  gap: 10px;
}

.card {
  height: 200px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 200px;

 
}