/* Imagem sendo repetida para preencher o fundo do elemento. */
/* body {
  background-image: url('../imagens/fundo-floresta.jpg');
} */

/* A imagem não se repete. */
/* body {
    background-image: url('../img/fundo-floresta.jpg');
    background-repeat: no-repeat;
} */

/* Imagem sendo repetida horizontalmente. */
/* body {
  background-image: url('../img/fundo-floresta.jpg');
  background-repeat: repeat-x;
} */

/* Imagem sendo repetida verticalmente. */
/* body {
  background-image: url('../img/fundo-floresta.jpg');
  background-repeat: repeat-y;
  background-color: green;
} */

/* body {
  height: 100vh;
  background-image: url('../img/fundo-floresta.jpg');
  background-repeat: no-repeat;
  background-color: green;
  background-position: center;
  } */

  /* body {
    height: 100vh;
    background-image: url('../img/fundo-floresta.jpg');
    background-repeat: no-repeat;
    background-color: green;
    Ocupa todo espaço do elemento e exibe parte da imagem se for necessário 
    background-size: cover;
  } */

   /* body {
    height: 100vh;
    background-image: url('../img/fundo-floresta.jpg');
    background-repeat: no-repeat;
    background-color: green; */
    /* Estica a imagem por completo */
    /* background-size: contain; 
  }*/

   /* body {
    height: 100vh;
    background-image: url('../img/fundo-floresta.jpg');
    background-repeat: no-repeat;
    background-color: green; */
    /* Estica a imagem por completo */
    /* background-position: center; */
    /* Define o percentual de largura e altura com relação ao elemento, que a imagem ocupará */
    /* background-size: 50% 70%; */
  /* } */

   body {
    height: 270vh;
    background-image: url('../img/fundo-floresta.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
   /* Define a largura e altura da imagem em píxel */
    
   }
     h1, h2, h4 { 
    margin-left: 15px; 
    margin-bottom: 2px; 
    } 
    
    h2, h4 { 
    margin-top: 2px; 
    } 

   .floresta { 
      width: 55%; 
      margin: auto; 
      background-color: white; 
      padding: 20px 0; /* Adiciona espaço interno na div */ 
  } 

  .secao-imagem { 
    width: 99%; 
    margin: auto;
    } 

    img{
        width: 98%;
        height: auto;
        margin-left: 10px;
       
    }
