header{
    background-color: rgb(235, 229, 229);
    text-align: center;
}

.title-row{
    position: relative;
    top:40px;
}


/*Posicionamento em linha*/

.container-row{    
    height: 50vh;
    width : 70vw;
    margin:0 auto;
    position:relative;
    top:2px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box1{
    height: 70px;
    width : 100px;
    background-color: blue;  
    margin-left:25px;  
    box-sizing: border-box;
    padding-top: 25px;

}
.box2{
    height:70px;
    width:100px;
    background-color: blueviolet;   
    margin-left:25px;
    box-sizing: border-box;
    padding-top:25px;

}
.box3{
    height: 70px;
    width: 100px;
    background-color: rgb(11, 152, 122);     
    margin-left:25px;
    box-sizing: border-box;
    padding-top: 25px;
}

.box4{
    height: 70px;
    width:100px;
    background-color: rgb(210, 175, 175);
    margin-left:25px;
    box-sizing: border-box;
    padding-top: 25px;
}

/*Posicionamento em coluna*/

.container-col{
    height: 60vh;
    width : 70vw;
    margin:0 auto;
    position:relative;
    top:4px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.box5{
    height: 70px;
    width : 100px;
    background-color: blue;     
    margin-bottom: 10px; 
    box-sizing: border-box;
    padding-top: 25px; 
}
.box6{
    height:70px;
    width:100px;
    background-color: blueviolet;   
    margin-bottom: 10px;  
    box-sizing: border-box;
    padding-top:25px;
}
.box7{
    height: 70px;
    width: 100px;
    background-color: rgb(11, 152, 122);
    margin-bottom: 10px;  
    box-sizing: border-box;
    padding-top:25px;
}

.box8{
    height: 70px;
    width:100px;
    background-color: rgb(210, 175, 175);
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-top: 25px;
    
}

