.container {
  padding: 60px 30px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 200px;
  height: 200px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.card-tres {
  flex-grow: 2;
}
.card-cinco {
  flex-grow: 3;
}