.azul {
    width: 150px;
    height: 150px;
    background-color: blue;
}


.vermelha {
    position: relative;
    background-color: red;
    width: 150px;
    height: 150px;
    top: 30px;
    left: 50px;
}