.container {
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 
.botao {
    position: relative;
    padding: 10px 20px;


}
.botao:hover .tooltip{
    display: block;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-bottom: 8px;

    background-color: #aaa;
    color: white;
    padding: 10px 20px;

    display: none;
    text-align: center;
}